.Footer {
  width: 100%;
  background-color: #1e1f21;
  // padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-rights {
  display: flex;
  align-items: baseline;
  padding: 10px;
}

.footer-name{
  font-size: 30px;
  padding-right: 30px;
}

.footer-name > span {
  font-weight: 700;
}

.footer-copyrights {
  color: #9797a1
}

.footer-socials {
  display: flex;
  padding-right: 210px;
}

.footer-socials-icons {
  width: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.footer-contact-link {
  padding-right: 100px;
  color:#9797a1;
  text-decoration: none;
}
.footer-contact-link:hover {
  color: aqua;
}

//---------------------------------------------------------------------------------------------------------
@media screen and (max-width: 1024px) {
  .footer-socials{
    margin-right: 160px;
  }
}
@media (max-width: 768px){
  .footer-rights {
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }
}
@media (max-width: 460px) {
  .Footer{
    gap: 3rem;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 50px;
  }
  .footer-rights {
    gap: 2rem;
  }
  .footer-socials {
    flex-wrap: wrap;
    padding-right: 0;
  }
  .footer-socials-icons {
    margin-left: 0;
    margin-right: 30px;
  }
}