.Projects {
  width: 100%;
  padding: 50px 0;
  background: #25262a;
}

.Projects-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-left {
  width: 50%;
}

.projects-left-title {
  font-size: 35px;
  padding-left: 70px;
}

.projects-left-subtitle {
  color: #9797a1;
  padding: 20px 0 100px 70px;
}

.projects-btn {
  letter-spacing: 1px;
  margin: 20px 0 50px 70px;
  font-size: 25px;
  color: #4cf1fd;
  background: none;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-bottom: 2px solid #4cf1fd;
  cursor: pointer;
}

.projects-btn:hover {
  color: white;
  border-bottom: 2px solid white;
}

.projects-img {
  margin-bottom: 50px;
  border-radius: 10px;
  filter: drop-shadow(10px 0 20px black);
}

.projects-img:hover {
  animation: shake 0.3s;
}
@keyframes shake {
  0%{
    transform: translate(1px,1px) rotate(0deg);
  }
  20%{
    transform: translate(-3px,0px) rotate(1deg);
  }
  40%{
    transform: translate(1px,-1px) rotate(1deg);
  }
  60%{
    transform: translate(-3px,1px) rotate(0deg);
  }
  80%{
    transform: translate(-1px,-1px) rotate(1deg);
  }
  100%{
    transform: translate(1px,-2px) rotate(-1deg);
  }
}

.projects-left-extra {
  color: #9797a1;
  padding: 0 150px 0 70px;
}

.projects-left-extra > a {
  text-decoration: none;
  color: #4cf1fd;
  background: none;
  border-bottom: 2px solid #4cf1fd;
  cursor: pointer;
}
.projects-left-extra .a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.projects-right {
  width: 50%;
}
// --------------------------------------------------------------------------------------------------------------
@media (max-width:1024px) {
  .projects-left-title {
    padding-left: 0;
  }
  .projects-left-subtitle {
    padding: 20px 0 50px 0;
  }
  .projects-img {
    width: 340px;
  }
  .projects-btn {
    margin: 0 0 50px 70px;
  }
  .projects-left-extra {
    padding: 0 50px 0 70px;
  }
}
@media (max-width: 768px) {
  .Projects-container {
    width: 100%;
    padding: 50px 0 50px 50px;
  }
  .projects-img{
    width: 300px;
  }
}
@media (max-width:460px) {
  .Projects-container {
    flex-direction: column;
    padding: 50px 0px;
  }
  .projects-left {
    width: 100%;
    padding-bottom: 70px;
    text-align: center;
  }
  .projects-right {
    width: 100%;
    text-align: center;
  }
  .projects-btn {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 360px) {
  .projects-img {
    width: 280px;
  }
}