.Library {
  width: 100%;
  height: calc(100vh - 110px);
  padding: 50px 0 10px 0;
  background: #25262a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.library-title {
  font-size: 35px;
  padding-bottom: 10px;
}

.library-text {
  color: #9797a1;
  font-size: 22px;
}

.swiper {
  width: 600px;
  height: 525px;
  margin-left: -150px;
  margin-top: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  border-right: 1px solid rgba(255, 255, 255, 0.432);
  border-left: 1px solid rgba(255, 255, 255, 0.425);
}

.swiper-slide img {
  display: block;
  width: 100%;

}

.swiper-title {
  font-size: 30px;
  color: #4cf1fd;
  padding: 10px ;
}

.swiper-desc {
  padding: 2px 10px;
  color: #9797a1;
}

.swiper-pagination-bullet-active {
  background-color: #4cf1fd !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}


.swiper-links {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
}

.swiper-link {
  color: #4cf1fd;
}

.swiper-link:hover {
  color: white;
}

@media (max-width: 768px) {
  .Library-container {
    width: 80%;
  }
}

@media (min-width: 360px) and (max-width:460px){
  .Library {
    height: calc(100vh + 120px)
  }

  .swiper {
    width: 100%;
    height: 475px;
  }

  .swiper-title {
    font-size: 22px;
  }
}