.Personal {
  width: 100%;
  height: calc(100vh - 110px);
  padding: 50px 0 10px 0;
  background: #25262a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
